@font-face {
  font-family: Marker;
  src: url(../fonts/MarkerFelt-Thin-01.ttf);
}

body {
  background-color: #f2f2f2;
  font-family: Marker, sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  body {
    flex-direction: row;    
  }
}

canvas {
  border: 1px solid #666;
  background-color: #090;
  background-image: url('../images/grass.jpeg');
  background-size: 80%;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

#instructions {
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background: #eee;
}

#instructions ul {
  padding: 0;
  list-style-position: inside;
}

#debug {
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background: #eee;
}
